/* header and nav */

.container {
    min-height: 74px;
    max-width: 100%;
    background-color: white;
    margin: auto;
    border-bottom: 1px rgb(202, 202, 202) solid;
}

header {
    float: left;
    background-color: #4aaaa5;
    padding: 10px;
    font-size: 36px;
    text-align: center;

}

.nav {
    float: right;
    background-color: white;
}

.nav-item {
    padding-right: 10px;
    padding: 10px 10px;
}

/* image, paragraphs */

.aboutmeimage {
    max-width: 35%;
    min-width: 15%;
    height: auto;
    float: left;
    margin: 10px;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.aboutme,
#portfolioimages {
    margin: 40px 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    max-width: 960px;
    background-color: white;
    border: 1px rgb(202, 202, 202) solid;
}

#portfolioimages img {
    width: 100%;
    padding-bottom: 10px;
}

p {
    margin: 5px;
}
/* footer */

footer {
    width: 100%;
    background-color: rgb(202, 202, 202);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    text-align: center;
}


/* Portfolio section */

